<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3>Orders</h3><hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th>Order Status</th>
                            <th>Quantity</th>
                            <th>Order date</th>
                            <th>Dispatch Date</th>
                            <th>Total Cost</th> 
                            <th>Action</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderInfo">
                            <td>{{item?.orderStatus}}</td>
                            <td>{{item?.quantity}}</td>
                            <td>{{item?.orderDate | date:'mediumDate'}}</td>
                            <td>{{item?.dispachDate | date:'mediumDate'}}</td>
                            <td>{{item?.totalCost | currency:'INR'}}</td>
                            <td><button class="btn btn-danger" (click)="cancelOrder(item)">Cancel Order</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>