<div class="register_page mt-4">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Add new Mobile</h3>
                    <hr>
                    <form #addMobileForm="ngForm" (ngSubmit)="onAddMobile(addMobileForm)" [noValidate]="false">
                        <div class="row">
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Mobile Name</label>
                                    <input type="text" class="form-control" ngModel name="mobileName" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Mobile Brand</label>
                                    <input type="text" class="form-control" ngModel name="companyName" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Camera Pixel</label>
                                    <input type="number" class="form-control" ngModel name="cameraPixcel" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" step="0.01" class="form-control" ngModel name="mobileCost" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Battery</label>
                                    <input type="text" class="form-control" ngModel name="battery" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Manufacturing date</label>
                                    <input type="date" class="form-control" ngModel name="mfDate" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>RAM</label>
                                    <select class="form-select" ngModel name="mobileRAM" id="" required>
                                        <option *ngFor="let rr of RamValue" [ngValue]="rr">{{rr}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Model Number</label>
                                    <input type="text" class="form-control" ngModel name="modelNumber" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Select Category</label>
                                    <select class="form-select" ngModel name="category" placeholder="select" required>
                                        <option *ngFor="let cat of categoryObjectList" [ngValue]="cat">{{cat.categoryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-3">Add Mobile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>