<div class="register_page mt-4">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Add new Mobile</h3>
                    <hr>
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" [noValidate]="false">
                        <div class="row">
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Mobile Name</label>
                                    <input type="text" class="form-control" ngModel name="mobileName" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Mobile Brand</label>
                                    <input type="text" class="form-control" ngModel name="mobileBrand" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Camera Pixel</label>
                                    <input type="number" class="form-control" ngModel name="cameraPixel" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" step="0.01" class="form-control" ngModel name="price" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-3">Add Mobile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>