<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3>Customers</h3><hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th>Customer Name</th>
                            <th>EmailId</th>
                            <th>UserName</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Role</th>  
                            <!-- <th>Action</th -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of customerInfo">
                            <td>{{item?.name}}</td>
                            <td>{{item?.emailId}}</td>
                            <td>{{item?.username}}</td>
                            <td>{{item?.mobileNumber}}</td>
                            <td>{{item?.address}}</td>
                            <td>{{item?.role}}</td>
                            <!-- <td><button class="btn btn-outline-primary" (click)="editUserInfo(item)">Edit Info</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>