<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3>Mobiles in Cart</h3><hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                           
                            <th>Mobile Name</th>
                            <th>Brand</th>
                            <th>RAM</th>
                            <th>Camera Specifications</th>
                            <th>Date of Manufacture</th>
                            <th>Price</th>
                            <th>Delete from Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mobilesList">
                            
                            <td>{{item?.mobileName}}</td>
                            <td>{{item?.companyName}}</td>
                            <td>{{item?.mobileRAM}} GB</td>
                            <td>{{item?.cameraPixcel}} MegaPixels</td>
                            <td>{{item?.mfDate | date:'mediumDate'}}</td>
                            <td>{{item?.mobileCost | currency : "INR" : "symbol"}}</td>
                            <td><button class="btn btn-danger" (click)="removeFromCart(item)">Remove from cart</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12 bg-dark text-light">
                        Total amount: <span>{{totalAmount}}</span>
                    </div>
                    <div class="col-md-4 py-3">
                        <button [disabled]="mobilesList.length===0" class="btn btn-primary" (click)="placeOrderById()">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>