<div class="register_page mt-4">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Add new Category</h3>
                    <hr>
                    <form #addCategoryForm="ngForm" (ngSubmit)="addCategory(addCategoryForm)" [noValidate]="false">
                        <div class="row">
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" class="form-control" ngModel name="categoryName" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-3">Add Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>