<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <strong>Search Mobile</strong>
            <div class="row">
                <div class="col-2">
                    <input [(ngModel)]="type" class="form-control" type="text" placeholder="Type" >
                </div>
                <div class="col-2">
                    <input [(ngModel)]="value" class="form-control" type="text" placeholder="Value">
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" (click)="searchByType()">Search</button>
                </div>
            </div>           
        </div>
        <div *ngFor="let item of mobilesList;let i=index" class="col-3">
            <div class="card m-2">
                <div class="card-header">
                    <img [src]="item.imagePath" alt="" style="width: 150px; height: 150px;">
                    <strong>{{item?.mobileName}}</strong>
                </div>
                <div class="card-body">
                    <div class="mb-1">
                       <strong>Price:</strong> {{item?.mobileCost | currency : "INR" : "symbol"}}
                    </div>
                    <div class="mb-1">
                        <strong>Brand:</strong> {{item?.companyName}}
                    </div>
                    <div class="mb-1">
                        <strong>Camera:</strong> {{item?.cameraPixcel}} MegaPixels
                    </div>
                    <div class="mb-1">
                       <strong>RAM:</strong> {{item?.mobileRAM}} GB RAM
                    </div>
                    <div class="mb-1">
                        <strong>Manufacture Date:</strong> {{item?.mfDate | date:'mediumDate'}}
                    </div>
                    <app-add-to-cart *ngIf="role==='user'" [role]="role" [mobileId]="item.mobileId"></app-add-to-cart>
                    <button *ngIf="role==='admin'" class="btn btn-outline-primary" (click)="editMobileInfo(item)">Edit Info</button>
                </div>
            </div>
        </div>
    </div>
</div>